/****************************************************\
                    General Styles 
\****************************************************/
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    paadding: 0;
    color: #3a3a3a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row {
    display: grid;
    grid-gap: 20px;
}
.row.col-6 {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.row.col-4 {
    grid-template-columns: repeat(3, 1fr);
}
.btn-rounded {
    border-radius: 100px;
    padding: 10px 24px;
    display: inline-block;
    border: none;
    transition: all 250ms ease-in;
    cursor: pointer;
}
.btn-rounded:hover {
    transform: scale(1.15);
    transition: all 250ms ease-in;
}
.bg-primary {
    background-color: #e02c6d;
    color: #ffffff;
}
section {
    padding: 40px 0;
}
/****************************************************\
                    Header Styles 
\****************************************************/
header {
    padding-bottom: 30px;
}
.web-name {
    font-size: 24px;
}
.main-title {
    font-size: 52px;
}
.header-sec p {
    max-width: 500px;
}
.header-sec .btn-rounded {
    margin-top: 15px;
}
header img {
    width: 100%;
}
header a i {
    color: #ffffff;
}
/****************************************************\
                company logos Styles 
\****************************************************/
.company-logos .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logos img {
    margin: 0 10px;
}
/****************************************************\
                Popular Collection Styles 
\****************************************************/
.sec-title {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}
.item-box {
    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}
.box-img {
    border-radius: 5px;
    overflow: hidden;
}
.box-img img {
    width: 100%;
}
.box-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin-top: 20px;
}
.item-box .price {
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
    font-family: "Inter", sans-serif;
}
.rating {
    font-size: 14px;
}
.stars i {
    color: #fb8200 !important;
}
.rating .num {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 10px;
    color: #5e6366;
}
.item-box p {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #787885;
}
.shift {
    margin: 10px 0 5px;
    max-width: 130px;
}
.link {
    margin-top: 20px;
    text-align: right;
}
.single-link {
    color: #e02c6d;
    text-decoration: none;
}
.single-link i {
    color: #e02c6d;
}
.single-link:hover {
    color: #52001e;
}

.gradient-text {
    background: -webkit-linear-gradient(180deg, #ffad5a, #e02c6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.get-in-touch ul {
    list-style-type: none;
    padding: 0;
}
.get-in-touch ul li,
.get-in-touch ul li a {
    margin-bottom: 10px;
    font-size: 16px;
    color: #3e3e3e;
    text-decoration: none;
}
.get-in-touch h2 {
    padding-bottom: 0px;
}
.form-container h3 {
    margin-bottom: 10px;
}
.get-in-touch p {
    font-size: 20px;
}
.get-in-touch i {
    color: #e02c6d;
    margin-right: 10px;
    font-size: 25px;
}
.get-in-touch li a:hover {
    color: #e02c6d;
}
.get-in-touch .social-icons {
    padding-top: 20px;
}
.get-in-touch .social-icons a {
    text-decoration: none;
}
.get-in-touch .social-icons i {
    font-size: 25px;
    height: 50px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: 50px;
    border: 4px solid #e02c6d;
    border-radius: 100px;
}
.get-in-touch .social-icons a:hover i {
    background: #e02c6d;
    color: #ffffff;
    border-color: #ffbfbf;
}
.form-container {
    margin-left: 5%;
}
.input-container {
    margin-bottom: 25px;
}
.input-container input,
.input-container textarea {
    width: 90%;
    border: 1px solid #979797f2;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
input.btn-primary {
    border: none;
    font-size: 18px;
    cursor: pointer;
}
::placeholder {
    color: #adadad;
    font-family: "Poppins";
}

footer {
    margin-top: 40px;
    background: #0a0826;
    text-align: center;
    padding: 46px 0 35px;
}
footer h2 {
    color: #ffffff;
    font-size: 24px;
    font-family: "Poppins", cursive;
    font-weight: 700;
}
.red-text {
    color: #ff5959;
}
footer p {
    font-size: 14px;
    margin-top: 10px;
    color: #d9dbe1;
}
footer .social-icons a i {
    color: #ffffff;
    margin: 20px 10px;
}
